<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eDIT OFFER PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/admin/productpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<%- include('../partials/adminoffcanvas') %>

    <!-- Offcanvas menu -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2  d-flex ">
                <div class="container-fluid py-5 t">

                    <div class="admin-dashboard rounded" style="width: 220px;" id="">

                        <div class="offcanvas-body p-0 px-md-4   ">
                            <ul class="list-group custom-list fw-bold ">
                                <a href="/admin/admin-dashboard" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-house me-2 "></i>
                                    <span class="fw-bold">Dashboard</span>
                                </a>
                                <a href="/admin/product" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-bag-shopping me-2"></i>
                                    <span class="fw-bold">Products</span>
                                </a>
                                <a href="/admin/admin-OrderList" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-cart-shopping me-2"></i>
                                    <span class="fw-bold">Orders</span>
                                </a>
                                <a href="/admin/userslist" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-users me-2"></i>
                                    <span class="fw-bold">Customers</span>
                                </a>
                                <a href="/admin/adminCoupon" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-id-card me-2"></i>
                                    <span class="fw-bold">Coupons</span>
                                </a>
                                <!-- <a href="/admin/banners" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-flag me-2"></i>
                                    <span class="fw-bold">Banners</span>
                                </a> -->
                                <a href="/admin/brandpage" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-user-plus me-2"></i>
                                    <span class="fw-bold">Brands</span>
                                </a>

                                <a href="/admin/category" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-list me-2"></i>
                                    <span class="fw-bold">Categories</span>
                                </a>
                                <!-- <a href="/admin/payments" class="list-group-item custom-list-item bg-light">
                                    <i class="fas fa-money-bill me-2"></i>
                                    <span class="fw-bold">Payments</span>
                                </a> -->
                                <a href="/admin/offers" class="list-group-item custom-list-item bg-light">
                                    <i class="fa-solid fa-boxes-stacked"></i>
                                    <span class="fw-bold">Offers</span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-7 mt-2   m-auto-3 d-flex justify-content-center    py-5 ">
                <% if (messages.success) { %>
                    <div class="container my-3" style="border-radius: 20px;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <p class="m-0"><strong>Message.! </strong><%= messages.success %></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                <% }else if (messages.error){ %>
                    <div class="container my-3" style="border-radius: 20px;">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p class="m-0"><strong>Message.! </strong><%= messages.error %></p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                <%}%> 
               
                <div class="container-fluid p-2  fw-bold  rounded-2">
                    <div class="row bg-light shadow-sm">
                        <div class="card p-2 bg-light">
                            <form method="post" action="/admin/editoffer/<%=editOffer._id %>">
                    
                                <!-- <div class="form-group">
                                  <label>Offer Category</label>
                                  <input type="text" class="form-control" id="name" value="<%= editOffer.CategoryName %>" name="code" required oninput="validateCouponName()" >
                                  <p id="nameCheck" class="text-danger"></p>
                                </div> -->
                                <div class="form-group">
                                    <label>Category</label>
                                    <select name="name" class="form-control" required>
                                        <option value="" selected disabled>Select a Category</option>
                                        <% sendCategory.forEach((x) => { %>
                                            <option value="<%=x.Name %>"><%=x.Name %> </option>                          
                                        <% }) %> 
                                    </select>
                                </div>   
                                <div class="form-group">
                                  <label>Discount Percentage</label>
                                  <input type="number" class="form-control" oninput="validateDiscount()" id="discount" value="<%= editOffer.Discount %>" name="discount" required>
                                  <p id="discountCheck" class="text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <label>Start From</label>
                                  <input type="datetime-local" class="form-control" value="<%= editOffer.Valid_from.toISOString().slice(0, 16) %>" id="valid_from" name="valid_from" required>
                                </div>
                                <div class="form-group">
                                  <label>Ends On</label>
                                  <input type="datetime-local" class="form-control" value="<%= editOffer.Valid_to.toISOString().slice(0, 16) %>" id="valid_to" name="valid_to" required >
                                  <p id="dateValidationMessage" class="text-danger"></p>
                                </div>
                                <div class="form-group text-end p-2">
                                  <input type="submit" class="btn btn-sm btn-dark" value="Edit Coupon" oninput="return validateDates()">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            
        </div>
    </div>





        <script src="/js/coupon-validation.js"></script>
           <script src="/js/productValidation.js"></script>
           <script src="/js/offer-validation.js"></script>


    
        
        <script>
            setTimeout(function () {
                document.getElementById('msg-div').style.display = 'none';
            }, 2000);
        </script>
    <!-- Bootstrap JavaScript (place at the end of the body) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>
        var myOffcanvas = new bootstrap.Offcanvas(document.getElementById('staticBackdrop'));
    </script>
    </body>

</html>